body{
    height: 100%;
}

.mainDiv{
    position: absolute;
    width: 100%;
    left: 0;
    padding-bottom: 3rem;
}

.separation{
    height: 1px;
    background-color: black;
    margin: 2rem 0 0 0;
}

.amount-btn{
    height: 2rem;
    width: 1.75rem;
    background: transparent;
    border:1px solid;
    cursor: pointer;
    border-color: red;

}

.amount-btn svg {
    fill: red;
}

.amount{
    padding: 0.75rem 0 0 0.5rem;
}

.textCenter{
    text-align: center;
    max-width: 2rem;
}

.cardBg{
    align-content: center;
    text-align: center;
    padding: 1rem 0;
    height: 28rem;
    width: '25rem'
    
}


.removeBtn{
    width: 5rem;
    padding: 0.5rem;
    background-color: rgb(248, 108, 108);
    font-size: 1rem;
    border-radius: 15%;
    border-width: 1px;
}

.justifyCenter{
    display: flex;
    flex-direction: column;
    align-items: left;
    vertical-align: middle;
    height: 100%;
    justify-content: center;
    padding-top: 1rem;
}

.descr{
    align-content: center;
    text-align: left;
    align-content: center;
    height: 25rem;
    width: 100%;
}


.spaceFont{
    padding-bottom: 1rem;
}

.adding{
    align-content: center;
    text-align: left;
    align-content: left;
    height: 25rem;
    width: 100%;
}

.addingDiv{
    display: flex;
    flex-direction: column;
    align-items: left;
    vertical-align: middle;
    height: 100%;
    justify-content: center;
    padding-top: 1rem;
}

.NavBg{
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-container {
    display: block;
    position: relative;
    padding-right: 3rem;
}

.navSvg {
    width: 2rem;
    fill: #fff;
}

.amount-container {
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background: hsl(205, 84%, 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
}
  .total-amount {
    color: #fff;
    margin-bottom: 0;
    font-size: 1.25rem;
}


@media only screen and (max-width: 450px) {
    .descr {
      height: 15rem;
    }
    .adding{
        height:15rem
    }
}

footer {
    margin-top: 1rem;
    text-align: center;
  }
.h4Footer {
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .clear-btn {
    background: transparent;
    padding: 0.5rem 1rem;
    color: hsl(360, 67%, 44%);
    border: 1px solid hsl(360, 67%, 44%);
    margin-top: 2.25rem;
  }
  .clear-btn:hover {
    background: hsl(360, 71%, 66%);
    color: hsl(360, 67%, 44%);
    border-color: hsl(360, 71%, 66%);
  }

  .center{
      text-align: center;
  }